/* Base Styles */
html {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	color: #000000;
	background-color: darkgray;
	margin: 0;
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}

a, h5, h6 {
	font-weight: bold;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #000000;
}

h5 {
	font-size: 14px;
	padding: 0 0 15px;
}

h3 {
	margin: 18.72px 0 12px;
}

p {
	font-size: .95em;
	line-height: 1.5;
}

img {
	margin: 20px 0px 5px;
}

span {
	font-weight: bold;
	margin: 0px 6px;
}

/* Layout Styles */
#about {
	padding: 0 0 20px;
}

#centerContainer {
	text-align: center;
	margin: 0px auto;
}

#portfolio {
	padding: 20px 0;
	background-color: #FFFFFF;
}

.header-nav {
	padding: 0 0 20px;
	width: 90%;
	margin: 0 auto;
}

.header-nav li {
	margin: 0 0 4px;
	padding: 10px 0 10px;
	font-size: 14px;
}

#left-footer {
	float: left;
	font-weight: bold;
	margin: 0 0 0 5px;
}

#right-footer {
	float: right;
	display: inline;
	margin: 0 5px 0 0;
}

#nav-footer {
	display: none;
}

#wrapper-footer {
	overflow: hidden;
}

.logo {
	max-width: 70%;
}

.pf-thumb {
	max-width: 90%;
}

.global-footer hr {
	margin: 50px 0 0;
}

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Media Queries */

@media screen and (min-width: 768px) {
	
	.header-nav ol {
		margin: 0 0 20px 0;
	}

	.header-nav li {
		max-width: 33%;
		display: inline-block;
		margin: 0 2.5%;
		background-color: transparent;
	}

	.logo {
		float: right;
		margin: 0 auto;
		max-width: 42%;
	}

	.img {
		max-width: 48%;
		display: inline-block;
		vertical-align: top;
		margin: 0 0 1% 0;
	}

	#about {
		margin: 0 5% 50px 5%;
	}

	#about p {
		font-size: 1.12em;
		text-align: left;
		margin: 0 15px 0 0;
		max-width: 60%;
	}

	.global-footer p {
		max-width: 80%;
		margin: 0 10% 20px 10%;
		font-size: 1.3em;
	}

	.global-footer h5 {
		margin: 30px 0 20px 0;
	}

	#left-footer p {
		margin: 20px 0 0 0;
		font-size: 15px;
		width: 200px;
	}

	#right-footer h5 {
		display: none;
	}

	#nav-footer, #nav-footer li {
		display: inline-block;
		background-color: transparent;
		margin: 15px 10px;
		font-size: 12px;
	}
}

@media screen and (min-width: 1024px) {

	#centerContainer {
		width: 96%;
		max-width: 1024px;
	}

	h2 { 
		display: inline;
		align-content: left;
	}

	.header-nav, ol {
		display: inline;
	}

	.header-nav ol {
		margin: 10px 30px;
		float: right;
	}

	.header-nav li {
		margin: 10px 20px;
	}

	header h2 {
	 	float: left;
	 	margin: 3% 0px 30px 3%;
	} 

	#about {
		margin: 0 0 3% 3%;
	}

	.logo {
		margin: 0 3%;
	}

	.img {
		width: 32%;
		border: 0;
	}

	.img p {
		font-size: .95em;
	}

	.global-footer p {
		max-width: 60%;
		margin: 0 20% 40px 20%;
		font-size: 1.3em;
	}

}